extends layout

block content
    div.container-fluid
        .row.text-center
            .col-md-12
                h2.text-center LOGIN
            .col-md-12
                form#login(method='post' action="/login")
                    input#username.form-control(type='text' name='username' placeholder='Username' required autofocus)
                    input#password.form-control(type='password' name='password' placeholder='Password' required)
                    br
                    button.btn.btn-default(type='submit') Login

    script.
        $('#login').submit(function (e) {
            swal({
                title: "",
                text: "Please wait.",
                imageUrl: "/images/loading_spinner.gif",
                showConfirmButton: false
            });
            // Prevent form submission
            e.preventDefault();

            var $form = $(e.target);
            var formData = {
                username: $('#username').val(),
                password: $('#password').val()
            };
            console.log(formData);
            $.ajax({
                type: 'POST',
                url: $form.attr('action'),
                data: formData,
                dataType: 'json',
                success: function (data) {
                    // Process the result ...
                    console.log(data);
                    if (data.status == 'Success') {
                        swal({
                            title: data.status,
                            text: data.message,
                            type: 'success',
                            showConfirmButton: true
                        });
                    }
                    else {
                        swal({
                            title: data.status,
                            text: data.message,
                            type: 'error',
                            showConfirmButton: true
                        });
                    }
                },
                error: function (data) {
                    console.log('fsfds');
                    swal({
                        title: data.status,
                        text: data.message,
                        type: 'error',
                        showConfirmButton: true
                    });
                }
            });

        });
